#scrollable {
    display: flex;
    align-content: center;
    justify-content: center;
}

#header {
    padding-top: 40px;
}

#tutorial {
    display: none;
}

.scorigami {
    font-size: 50px;
    font-weight: bold;
    line-height: 45px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.overline {
    font-family: franklin-gothic-urw-cond, serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;

}

.byline {
    font-size: 20px;
    padding-bottom: 20px;
}

.body-text{
    width: 70%;
    margin: auto;
}

.tooltip-header {
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .scorigami {
        font-size: 40px;
        margin-top: 5px;
        margin-bottom: 10px;
        line-height: 35px;
    }

    .overline {
        font-size: 15px;

    }

    .byline {
        font-size: 15px;
    }

    .body-text {
        width: 90%;
    }

    #scrollable {
        overflow-x: scroll;
        justify-content: flex-start;
    }

    #header {
        display: flex;
        flex-direction: column-reverse;
    }

    #tutorial {
        animation: shake ease 3s;
        animation-iteration-count: 3;
        animation-fill-mode: forwards;
        font-size: 20pt;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(-10px);
        }

        40% {
            transform: translateX(10px);
        }

        60% {
            transform: translateX(-10px);
        }

        80% {
            transform: translateX(10px);
        }

        100% {
            transform: translateX(0);
        }
    }
}

* {
    margin: 0; padding: 0;
    font-family: minion-pro, serif;
}
