* {
    margin: 0; padding: 0;
    font-family: minion-pro, serif;
}
#scrollable {
    display: flex;
    align-content: center;
    justify-content: center;
}

#header {
    padding-top: 40px;
}

#tutorial {
    display: none;
}

#grid {
    display: flex;
    justify-content: center;
}

#yaxis {
    width: 37px;
    padding-right: 10px;
}

.toggle-wrapper{
    width: 1130px;
    margin: auto;
    display: flex;
    align-items: center;
}

.scorigami {
    font-size: 50px;
    font-weight: bold;
    line-height: 45px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.overline {
    font-family: franklin-gothic-urw-cond, serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;

}

.byline {
    font-size: 20px;
    padding-bottom: 20px;
}

.body-text{
    width: 70%;
    margin: auto;
}

.headline{
    width: 1130px;
}

.article{
    margin-top: 30px;
}

.tooltip-header {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .scorigami {
        font-size: 40px;
        margin-top: 5px;
        margin-bottom: 10px;
        line-height: 35px;
    }

    .overline {
        font-size: 15px;

    }

    .byline {
        font-size: 15px;
    }

    .body-text {
        width: 90%;
    }

    .toggle-wrapper{
        width: 90%;
    }

    #scrollable {
        overflow-x: scroll;
        justify-content: flex-start;
    }

    #header {
        display: flex;
        flex-direction: column;
    }

    #tutorial {
        animation: shake ease 3s;
        animation-iteration-count: 3;
        animation-fill-mode: forwards;
        font-size: 20pt;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(-10px);
        }

        40% {
            transform: translateX(10px);
        }

        60% {
            transform: translateX(-10px);
        }

        80% {
            transform: translateX(10px);
        }

        100% {
            transform: translateX(0);
        }
    }
}

.counts-label{
    margin-right: 3px;
    font-family: 'franklin-gothic-urw-cond', 'sans-serif';
    font-weight: bold;
}
/*slider styling*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}